body {
  align-items: center;   
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.score-board {
  border: 5px solid #000;
  padding: 20px;
  text-align: center;
}

.score-board img {
  width: 50px;
}

.score {
  display: flex;
  align-items: center;
}

.play-buttons-wrapper {
  display: flex;
}

.play-buttons-wrapper img {
  width: 100px;
}

.play-button {
  align-items: center;
  display: flex;
  flex-direction: column;
}